<br><br>
<section class="content container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Login Form</h3>

          </div>
          <ngx-alerts></ngx-alerts>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col col-12">
                <form method="post" action="">
                  <p class="form-group">
                    <label for="txtNic">Youer NIC</label>
                    <input  name="txtNic"  id="txtNic"
                            class="form-control" required />
                  </p>

                  <p class="form-group">
                    <label for="txtPassword">Youer Password</label>
                    <input name="txtPassword"  id="txtPassword" class="form-control"  required />
                  </p>


                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <br><br>
                   <a href="#" style="color: red">Fogget Password</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
