.loginbody{
  background: url("../../../assets/images/Suit_and_Tie_uhd.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
}

.rgb{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(255,255,255,0.2);
}

.login{
  z-index: 2;
}


.mid{
  border-radius: 20px;
  background: rgba(66,66,66,0.5);
  box-shadow: 2px 4px 4px #828282;
}

.mid:hover{
  box-shadow: 4px 8px 8px #828282;
  background: rgba(66,66,66,0.7);
}

.tt{
 text-shadow: 4px 8px 8px #828282;
}
