.loginbody{
  background-image: url("../../../assets/images/Admin-Panel.png");
  width: 100%;
  height: 100%;
  position: absolute;
}

b{
  color: white;
}

a{
  color: white;
}

.contex{
  background-color: rgba(255,255,255,0.7);

}

.contex:hover{
  background-color: rgba(255,255,255,0.8);
}

.footer{
  left: 45%;
  position: absolute;
  bottom: 0;
  z-index: 6;
  color: white;
  font-size: 25px;
}
