<nav class="navbar navbar-expand-lg navbar-dark bg-dark navb">
  <a class="navbar-brand" href="#" appNav>
    <img src="../assets/images/logo/Auto%20Spare%20Part.png" width="70" height="30" alt="">
    Auto Part</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active"> HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="gig-page" routerLinkActive="active">GIG PAGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >Service</a>
      </li>


      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="register" routerLinkActive="active"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Sigin-up</a>-->
      <!--</li>-->



      <li class="nav-item">
        <a class="nav-link" routerLink="complains" routerLinkActive="active" ><i class="fa fa-hacker-news"></i>&nbsp;&nbsp;Complains</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="user-login"><i class="fa fa-hacker-news"></i>&nbsp;&nbsp;Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="user-registation" routerLinkActive="avtive"><i class="fa fa-sign-in"></i>Sign</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="manage-profile" routerLinkActive="active"><i class="fa fa-user"></i>Profile</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">


      <!--<ng-template>-->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-shopping-cart fa-2x cart" ></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>

      <!--</ng-template>-->

      <input class="form-control mr-sm-2" type="text" placeholder="Search">

      <button class="btn btn-secondary my-2 my-sm-0 fa fa-search fa-1x" type="button"></button>

    </form>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>

