<div class="wrapper log">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>

      <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link text-center">
      <span class="brand-text font-weight-light">Admin - Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a routerLink="dashboard" routerLinkActive="active" href="#" class="nav-link">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="manage-sellers" routerLinkActive="active" href="#" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Manage Seller
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="manage-sellers-account" routerLinkActive="active" href="#" class="nav-link">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>
                Manage Seller Account
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="" routerLinkActive="" href="#" class="nav-link">
              <i class="nav-icon fa fa-money"></i>
              <p>
                Payments
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="" routerLinkActive="" href="#" class="nav-link">
              <i class="nav-icon fa fa-list"></i>
              <p>
                View Orders
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="" routerLinkActive="" href="#" class="nav-link">
              <i class="nav-icon fa fa-hacker-news"></i>
              <p>
                View Seller Gigs
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a  href="#" (click)="logout()" class="nav-link">
              <i class="nav-icon fa fa-sign-out"></i>
              <p >
                Logout
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2018 <a href="http://ijse.lk">IJSE</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



