<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Manage Seller Account</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Seller Account</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<ngx-alerts></ngx-alerts>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Seller Account Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col col-12">
                <form #frmSellersAccounts="ngForm" (ngSubmit)="saveSellersAccount()">
                  <p class="form-group">
                    <label for="txtNic">Seller NIC</label>
                    <input  name="txtNic"  id="txtNic" type="text" required
                            [(ngModel)]="sellectedAccount.aNic"    class="form-control"/>
                  </p>

                  <p class="form-group">
                    <label for="txtName">Seller Name</label>
                    <input name="txtName"  id="txtName" class="form-control" required [(ngModel)]="sellectedAccount.aName"/>
                  </p>

                  <p class="form-group">
                    <label for="txtPakageType">Seller Pakage Type</label>
                    <input name="txtPakageType"  id="txtPakageType" class="form-control" required [(ngModel)]="sellectedAccount.aPackageType"/>
                  </p>


                  <p class="form-group">
                    <label for="txtPakageType">Seller Pakage Price</label>
                    <input name="txtPakagePrice"  id="txtPakagePrice" class="form-control" required [(ngModel)]="sellectedAccount.aPackagePrice"/>
                  </p>

                  <p class="form-group">
                    <label for="txtPassword">Seller Password</label>
                    <input name="txtPassword"  id="txtPassword" class="form-control" required [(ngModel)]="sellectedAccount.apassword"/>
                  </p>


                  <p class="form-group">
                    <label for="txtOrderDate">Seller Order Date</label>
                    <input name="txtOrderDate"  id="txtOrderDate" class="form-control" required [(ngModel)]="sellectedAccount.aOdate"/>
                  </p>


                  <p class="form-group">
                    <label for="txtExpireDate">Seller Expird Date</label>
                    <input name="txtExpireDate"  id="txtExpireDate" class="form-control" required [(ngModel)]="sellectedAccount.aExpaierDate"/>
                  </p>


                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button  type="button" class="btn btn-warning" (click)="clear()">Clear</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <div class="col-md-6 col-12">

        <table id="tblSellersAcount" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Seller NIC</th>
            <th>Seller Name</th>
            <th>Seller PakageType</th>
            <th>Seller Password</th>
            <th>Seller Order Date</th>
            <th>Seller Expire Date</th>
            <th>Action</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sellerAccount of sellersAccounts | paginate: { itemsPerPage: 7, currentPage: p }">
            <td>{{sellerAccount.aNic}}</td>
            <td>{{sellerAccount.aName}}</td>
            <td>{{sellerAccount.aPackageType}}</td>
            <td>{{sellerAccount.aPackagePrice}}</td>
            <td>{{sellerAccount.apassword}}</td>
            <td>{{sellerAccount.aOdate}}</td>
            <td>{{sellerAccount.aExpaierDate}}</td>
            <td>
              <i  class="fa fa-trash fa-2x" (click)="deleteSellerAccount()"></i>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td colspan="7">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

